
.data-nascimento{
    color: rgb(58, 55, 55);
   
}

mat-datepicker-toggle{
    color: rgb(58, 55, 55);
}
mat-datepicker{
    color: rgb(58, 55, 55);
}
mat-label{
    color: rgb(58, 55, 55);
 
}
mat-form-field{
    color: rgb(58, 55, 55);

} 

form{
    width: 50%;
    margin: 2rem auto 2rem auto;
    padding: 2rem 3rem 1.5rem 3rem;
    text-align: center;
    color: rgb(58, 55, 55);
    border: 2px grey solid;
}

.formField{
    width: 100%;
 }

.data-nascimento {
    text-align: start;

}

.data-nascimento input {
  color: rgb(43, 46, 43);;
}

.h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3rem;
    color: rgb(43, 46, 43);
}

.buttons{
  width: 100%;
  text-align: start;
}

.buttons button{
   margin-right: .5rem;
   padding-right: 2rem;
   text-align: center;
}

.badge{
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.badge button{
    width: 15%;
}